@use 'base' as *;
@use './node_modules/swiper/swiper-bundle';
@use '../components/ui/SwiperComponent/SwiperComponent.scss';
@import '~normalize.css/normalize.css';

.cryptokitty {
  width: $scale-xl-10;
  margin-left: $scale-xl-7;

  @include respond(mobile) {
      margin-left: $scale-xl-5;
    }
}