@use '../../../styles/base' as *;

.portfolio-item-card-link {
    grid-column: auto;
    text-decoration: none;

    .portfolio-item-card {
        @include container($container-background: var(--colour-background-raised), $container-box-shadow: $elevation-raised, $container-padding: 0);
        transition: all $time;
        color: $text-weak;
    
        &:hover {
            @include container($container-background: var(--colour-background-overlay), $container-box-shadow: $elevation-overlay, $container-padding: 0);

            .button.variant-secondary.tone-brand {
                background: linear-gradient(0deg, #{$fill-hover}, #{$fill-hover}), rgba(255, 255, 255, 0.01);
                border-color: $stroke-brand-strong;
                color: $text-brand;

                .icon {
                    color: $icon-brand;
                }
            }
        }

        .portfolio-item-thumb {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    
        .portfolio-item {
            display: flex;
            flex-direction: column;
            padding:$scale-lg;
            gap:$scale-lg;
            height: 100%;

            h2 {
                @include responsive-typography(heading-4);
                
            }
        }
    }
}

.portfolio-grid {

    .portfolio-item-card {
        display: flex;
        height: 100%;
        flex-direction: column;

        .portfolio-item-thumb {
            height: $scale-xl-8;
            border-top-left-radius: $corner-radius-2;
            border-top-right-radius: $corner-radius-2;
        }

        .portfolio-item > .button {    
            align-self: start;
        }
    }

}

.portfolio-list  {

    .portfolio-item-card {
        display: flex;
        flex-direction: row;

        @include respond(mobile) {
            flex-direction: column;
        }

        .portfolio-item .button{
            align-self: start;

            @include respond(mobile) {
                align-self: stretch;
            }
        }
    
        .portfolio-item-thumb {
            width: 20%;
            height: auto;
            border-top-left-radius: $corner-radius-2;
            border-bottom-left-radius: $corner-radius-2;

            @include respond(mobile) {
                width: 100%;
                height:$scale-xl-8;
                border-top-left-radius: $corner-radius-2;
                border-bottom-left-radius: 0;
                border-top-right-radius: $corner-radius-2;
            }
        }
    }
}

.swiper-slide {

    a {
        width: 100%;
        height: 100%;

        .portfolio-item-card {
            display: flex;
            flex-direction: column;
            height: 100%;
    
            .portfolio-item-thumb {
                width: 100%;
                height:$scale-xl-8;
                border-top-left-radius: $corner-radius-2;
                border-bottom-left-radius: 0;
                border-top-right-radius: $corner-radius-2;
            }
        }
    }
}