@use '../../../styles/base' as *;

.loading {
  grid-column: 1 / -1 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: $scale-lg;

  & > * {
    align-self: center;
    text-align: center;
  }

  @include respond(tablet) {
    grid-column: 2 / span 4;
    text-align: center;
  }  

  @include respond(mobile) {
    height: 100%;
    padding: 0 $scale-lg;
    text-align: center;
  }  
}