@use '../../../styles/base' as *;

.segment-control {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: $corner-radius-full;
  background-color: $background-sunken;
  border: $scale-xs-4 solid $stroke-weak;
  box-sizing: border-box;
}

.segment-list {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: $corner-radius-full;
  width: 100%;
  padding: 0;

  & li {
    padding-bottom: 0;
    list-style-type: none;
  }
}

.segment-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: $scale-xs $scale-root;
  font-size: get-typography(paragraph);
  font-weight: 500;
  border: none;
  border-radius: $corner-radius-full;
  background: none;
  color: $text-weak;
  cursor: pointer;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: $fill-hover;
    border-radius: $corner-radius-full;
    opacity: 0;
    transition: opacity $time;
    z-index: -1;
  }

  &:hover::before {
    opacity: 1;
  }

  .segment-icon {
    margin-right: $scale-xs;
    display: flex;

    svg {
      width: $scale-md;
      height: $scale-md;
    }
  }
}

.segment-overlay-shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.15));
  z-index: 5;
}

.segment-overlay-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  transition: clip-path $time;
  clip-path: inset(0 100% 0 0 round 1000px);
  border-radius: $corner-radius-full;
  background-color: $background-overlay;
  z-index: 6;
  pointer-events: none;
  will-change: clip-path;
  transform: translateZ(0);
}

.segment-button-overlay {
  color: $text-strong;
}