@use '../../../styles/base' as *;

.segment-control-wrapper {
  display: flex;
  height: $scale-xl-3;

  @include respond(mobile) {
    justify-content: center;
  }

  &.size-medium {
    
    .segment-option {
      height: $scale-xl-3;
      padding: 0 $scale-root;

      .segment-icon {
  
        svg {
          width: $scale-md;
          height: $scale-md;
        }
  
      }

      .segment-label {
        font-size: get-typography(paragraph);
      }

    }

  }

  &.size-small {

    .segment-option {
      padding: 0 $scale-sm;

      .segment-icon {
  
        svg {
          width: $scale-root;
          height: $scale-root;
        }
  
      }

      .segment-label {
        font-size: get-typography(text-small);
      }

    }
    
  }
  
  .segment-control {
    position: relative;
    display: flex;
    background-color: $fill-weak;
    border: 0;
    border-radius: $corner-radius-2;

    .segment-control-border {
      box-sizing: border-box;
      display: block;
      width: 100%;
      height: 100%;
      border-radius: $corner-radius-2;
      border: $scale-xs-4 solid $stroke-weak;
      position: absolute;
    }
  
    .segment-highlight {
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background-color: $background-overlay;
      border: $scale-xs-4 solid $stroke-strong;
      border-radius: $corner-radius-2;
      box-shadow: $elevation-raised;
      z-index: 1;
    }
  
    .segment-option {
      position: relative;
      flex: 1;
      gap: $scale-xs;
      color: $text-weak;
      background: none;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: $time;
      z-index: 1;

      &:first-of-type {
        border-top-left-radius: $corner-radius-2;
        border-bottom-left-radius: $corner-radius-2;
      }

      &:last-of-type {
        border-top-right-radius: $corner-radius-2;
        border-bottom-right-radius: $corner-radius-2;
      }
      
      .segment-icon {
        display: flex;
  
        svg {
          color: var(--colour-stroke-strong);
        }
  
      }

      .segment-label {
        padding: 0 $scale-xs-2;
      }
  
      &:hover:not(.active) {
        background-color: $fill-weak;
      }
  
      &:active:not(.active) {
        background-color: $fill-press;
      }
  
      &.active {
        color: $text-strong;
        pointer-events: none;
        
        .segment-icon {
  
          svg {
            color: var(--colour-icon-neutral);
          }
  
        }
  
      }
  
    }
  
  }

}