@use '../styles/base' as *;

.details {
    grid-column-end: 10;

    @include respond(mobile) {
        grid-column-end: 1;
    }

    .segment-control {
        @include respond(mobile) {
            align-self: center;
        }
    }

    .tools-container {
        align-self: stretch;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--gap);

        @include respond(tablet) {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: $scale-root;
        }

        @include respond(mobile) {
            box-sizing: border-box;
            padding: var(--gap);

        }
    }

}