@use '../styles/base' as *;

.details {
    grid-column-end: 10;

    @include respond(mobile) {
        grid-column: 1 / span 4;
        padding: $scale-lg $scale-lg $scale-xl-8 $scale-lg !important;
    }

    .segment-control {
        @include respond(mobile) {
            margin-bottom: $scale-xl;
            align-self: center;
        }
    }

    .tools-container {
        align-self: stretch;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--gap);

        @include respond(tablet) {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: $scale-root;
        }
    }

}