@use '../styles/base' as *;

.projects {
  grid-column-end: 10;


  @include respond(mobile) {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 0 $scale-xl-8 0 !important;
  }

  .filters {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0;
    justify-content: space-between;
  }

  @include respond-above(desktop) {
    .project-item-card {
      transition: opacity $time;
    }
    
    .entries-container:has(.project-item-card:hover) .project-item-card:not(:hover) {
      opacity: 0.15;
    }
  }

  .projects-wrapper {

    @include respond(mobile) {
      width: 100%;
      display: flex;      
    }

    > .grid {
      display: grid;
      align-items: stretch;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--gap);
    }
  
    > .list {
      display: flex;
      flex-direction: column;
      gap: $scale-root;
      list-style: none;
      margin: 0;
      padding: 0;
  
      @include respond(mobile) {
        padding: 0 var(--gap);
      }
  
    }
    
  }

}