@use '../../../styles/base' as *;

.swiper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;

  .swiper-wrapper {
    width: 100%;
    margin-bottom: $scale-xl-3;
  }

  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    
    min-height: $scale-xl-4;
  }

  .swiper-pagination-bullet {
    background-color: $icon-neutral;
    transition: background-color $time
  }

  .swiper-pagination-bullet-active {
    background-color: $icon-neutral;
  }
}

.swiper-horizontal {
  @include respond(mobile) {
    padding: 0 var(--gap);
  }
}