@use '../../../styles/base' as *;

.swiper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;

  .swiper-wrapper {
    margin-bottom: $scale-xl-3;
    align-self: start;
    
  }

  .swiper-slide {
    
  }

  .swiper-pagination-bullet {
    background-color: $icon-neutral;
    transition: background-color $time
  }

  .swiper-pagination-bullet-active {
    background-color: $icon-neutral;
  }
}

.swiper-horizontal {
  @include respond(mobile) {
    padding: 0 var(--gap);
  }
}