@use '../../../styles/base' as *;
@use "../socialIcons" as icon;

.sidebar {
  box-sizing: border-box;
  grid-column: span sidebar;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  gap: var(--gap);
  background: $background-sunken;
  border-right: $scale-xs-4 solid $stroke-weak;

  @include respond(tablet) {
    display: flex;
    flex-direction: column;
    padding: 0 var(--gap);
  }

  @include respond(mobile) {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: none;
    padding: 0;
    position: fixed;
    left: 0;
    height: $scale-xl-7;
    overflow: hidden;
    width: 100%;
    z-index: 1100;
  }

  &.open .sidebar-contents {
    @include respond(mobile) {
      background: $fill-overlay;
      backdrop-filter: blur($scale-xs);
      opacity: 1;
      pointer-events: auto;
    }
  }
  
  &.open .sidebar-contents-container {
    @include respond(mobile) {
      transform: translateX(0%);
      transition: all $time;
    }
  }

  &.open {

    @include respond(mobile) {
      height: 100vh;
    }
    
  }

}

.sidebar-wrapper {
  grid-column: 3 / span 3;
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  padding-right: var(--gap);

  @include respond(tablet) {
    flex-grow: 1;
    padding-right: 0;
    align-items: center;
  }

  @include respond(mobile) {
    grid-column: 1 / span 4;
    align-items: normal;
  }
}

.mobile-header {
  padding-top: var(--container-padding);

  @include respond(mobile) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap);
    align-items: center;
    padding: 0 var(--gap);
    height: $scale-xl-7;
    background-color: $background-overlay;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1200;
    box-shadow: $elevation-overlay;
  }

  .brand-wordmark {
    display: flex;

    svg {
      width: $scale-xl-5;
      height: $scale-xl-5;
  }
  }
  
}

.theme-toggle-wrapper {

  @include respond(mobile) { 
    grid-column: 1 / span 1;
    justify-self: center; 
  }

}

.brand-wordmark {
  display: none;

  @include respond(mobile) {
    grid-column: 2 / span 2;
    justify-self: center;
    display: block;
    font-size: get-typography(text-uppercase);
    text-transform: uppercase;
    color: var(--colour-text-strong);
  }
}

.hamburger-button-wrapper {
  grid-column: 4 / span 1;
  justify-self: center;
  align-self: stretch;
  display: flex;

  .hamburger-button {
    display: none !important;

    @include respond(mobile) {
      display: flex !important;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: $scale-xs-2;
      background: none;
      border: none;
      z-index: 1200;
      padding: var(--gap) 0;
      width: $scale-xl;

      .line {
        width: 100%;
        height: $scale-xs-2;
        background-color: var(--colour-text-weak);
        border-radius: $corner-radius-2;
        transition: background-color $time;
      }
    }
  }
}

.sidebar-contents {
  flex-grow: 1;
  display: flex;

  @include respond(tablet) {
    
  }

  @include respond(mobile) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap);
    background: transparent;
    backdrop-filter: none;
    opacity: 0;
    pointer-events: none;
    transition: all $time;

    .sidebar.open & {
      opacity: 1;
      pointer-events: auto;
    }

    .sidebar.closing & {
      opacity: 0;
      pointer-events: none;
    }
  }

}

.sidebar-contents-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  @include respond(mobile) {
    grid-column: 1 / span 3;
    background: $background-alternate;
    transform: translateX(-100%);
    transition: all $time;
    padding: $scale-xl-7 var(--gap) var(--gap) var(--gap);

    .sidebar.open & {
      transform: translateX(0%);
    }

    .sidebar.closing & {
      transform: translateX(-100%);
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    @include respond(tablet) {
      align-items: center;
    }
  
    @include respond(mobile) {
      justify-content: center;
      align-items: stretch;
    }
  
    & > ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      gap: $scale-xs;

      & > li {
        padding-bottom: 0;
      }
    }
  }
  
  footer {
    color: $text-weak;
    display: flex;
    flex-direction: column;
    gap: $scale-root;
    padding-bottom: var(--container-padding);
  
    @include respond(tablet) {
      align-items: center;
    }

    @include respond(mobile) {
      padding-bottom: 0;
      align-items: stretch;
      gap: $scale-lg;
    }

    small {

      @include respond(tablet) {
        text-align: center;
      }

      @include respond(mobile) {
        text-align: left;
      }

      .author {
        text-wrap:nowrap;
      }
    }
  
    .social-links {
      display: flex;
      flex-wrap: wrap;
      gap: $scale-sm;
  
      .social-icon {
        @include respond(mobile) {
          width: $scale-xl;
          height: $scale-xl;
        }
      }
    }
  }
}