// Text
$text-strong: var(--colour-text-strong);
$text-weak: var(--colour-text-weak);
$text-brand: var(--colour-text-brand);
$text-disabled: var(--colour-text-disabled);
$text-error: var(--colour-text-error);
$text-warning: var(--colour-text-warning);
$text-success: var(--colour-text-success);
$text-information: var(--colour-text-information);
$text-inverse-strong: var(--colour-text-inverse-strong);
$text-inverse-weak: var(--colour-text-inverse-weak);
$text-inverse-disabled: var(--colour-text-inverse-disabled);

// Stroke
$stroke-strong: var(--colour-stroke-strong);
$stroke-weak: var(--colour-stroke-weak);
$stroke-selected: var(--colour-stroke-selected);
$stroke-focus: var(--colour-stroke-focus);
$stroke-disabled: var(--colour-stroke-disabled);
$stroke-brand-strong: var(--colour-stroke-brand-strong);
$stroke-brand-weak: var(--colour-stroke-brand-weak);
$stroke-error-strong: var(--colour-stroke-error-strong);
$stroke-error-weak: var(--colour-stroke-error-weak);
$stroke-warning-strong: var(--colour-stroke-warning-strong);
$stroke-warning-weak: var(--colour-stroke-warning-weak);
$stroke-success-strong: var(--colour-stroke-success-strong);
$stroke-success-weak: var(--colour-stroke-success-weak);
$stroke-information-strong: var(--colour-stroke-information-strong);
$stroke-information-weak: var(--colour-stroke-information-weak);
$stroke-inverse-strong: var(--colour-stroke-inverse-strong);
$stroke-inverse-weak: var(--colour-stroke-inverse-weak);
$stroke-inverse-disabled: var(--colour-stroke-inverse-disabled);

// Icon
$icon-neutral: var(--colour-icon-neutral);
$icon-brand: var(--colour-icon-brand);
$icon-disabled: var(--colour-icon-disabled);
$icon-error: var(--colour-icon-error);
$icon-warning: var(--colour-icon-warning);
$icon-success: var(--colour-icon-success);
$icon-information: var(--colour-icon-information);
$icon-inverse: var(--colour-icon-inverse);
$icon-inverse-strong: var(--colour-icon-inverse-strong);
$icon-inverse-disabled: var(--colour-icon-inverse-disabled);

// Fill
$fill-strong: var(--colour-fill-strong);
$fill-weak: var(--colour-fill-weak);
$fill-weaker: var(--colour-fill-weaker);
$fill-hover: var(--colour-fill-hover);
$fill-press: var(--colour-fill-press);
$fill-selected: var(--colour-fill-selected);
$fill-disabled: var(--colour-fill-disabled);
$fill-overlay: var(--colour-fill-overlay);
$fill-brand-strong: var(--colour-fill-brand-strong);
$fill-brand-weak: var(--colour-fill-brand-weak);
$fill-error-strong: var(--colour-fill-error-strong);
$fill-error-weak: var(--colour-fill-error-weak);
$fill-warning-strong: var(--colour-fill-warning-strong);
$fill-warning-weak: var(--colour-fill-warning-weak);
$fill-success-strong: var(--colour-fill-success-strong);
$fill-success-weak: var(--colour-fill-success-weak);
$fill-information-strong: var(--colour-fill-information-strong);
$fill-information-weak: var(--colour-fill-information-weak);
$fill-inverse-strong: var(--colour-fill-inverse-strong);
$fill-inverse-weak: var(--colour-fill-inverse-weak);
$fill-inverse-hover: var(--colour-fill-inverse-hover);
$fill-inverse-press: var(--colour-fill-inverse-press);
$fill-inverse-disabled: var(--colour-fill-inverse-disabled);
$fill-white: var(--colour-fill-white);
$fill-yellow: var(--colour-fill-yellow);

// Background
$background-base: var(--colour-background-base);
$background-raised: var(--colour-background-raised);
$background-overlay: var(--colour-background-overlay);
$background-sunken: var(--colour-background-sunken);
$background-alternate: var(--colour-background-alternate);
$background-brand: var(--colour-background-brand);
$background-inverse: var(--colour-background-inverse);