@use 'scale' as scale;

$elevation-raised: 0 scale.$scale-xs-3 scale.$scale-xs-2 -0.125rem rgba(0, 0, 0, 0.08), 0 scale.$scale-xs-2 scale.$scale-xs -0.125rem rgba(0, 0, 0, 0.04);
$elevation-overlay: 0 scale.$scale-md scale.$scale-lg -0.25rem rgba(0, 0, 0, 0.08), 0 scale.$scale-xs scale.$scale-xs -0.25rem rgba(0, 0, 0, 0.04);
$elevation-sunken: 0 scale.$scale-xs-4 scale.$scale-xs-2 rgba(0, 0, 0, 0.08) inset;