@use "./breakpoints" as breakpoint;
@use "./transitions" as transition;
@use "./scale" as scale;
@use "./spacing" as spacing;

body {
  background-color: var(--colour-background-base);
  color: var(--colour-text-weak);
  transition: transition.$time;    
}

#root {
  display: grid;
  grid-template-columns: [sidebar] 5fr [main] 11fr [main-end];
  gap: var(--gap);
  height: 100vh;

  @include breakpoint.respond(tablet) {
    grid-template-columns: [sidebar] 2fr [main] 6fr [main-end];
  }

  @include breakpoint.respond(mobile) {
    display: flex;
    flex-direction: column;
  }

}

main {
  grid-column: main / main-end;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: 1fr; 
  gap: var(--gap);
  height: 100vh;
  overflow: auto;
  align-content: start;
  scroll-behavior: smooth;

  @include breakpoint.respond(tablet) {
    grid-template-columns: repeat(6, 1fr);
    height: 100vh;
  }

  @include breakpoint.respond(mobile) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100vh;
    padding: scale.$scale-xl-7 0 0 0;
  }

  & > section {
    display: grid;
    grid-column-start: 2;
    align-content: start;
    gap: var(--gap);
    padding: var(--container-padding) 0;

    @include breakpoint.respond(tablet) {
      grid-column-start: 1;
      padding-top: var(--gap);
    }

    @include breakpoint.respond(mobile) {
      display: flex;
      flex-direction: column;
      padding-top: var(--gap);
    }

    & > * {
      grid-column: 1 / -1;
      place-self: start;
    }

  }

}