$scale-xl-10: 16rem;
$scale-xl-9: 12rem;
$scale-xl-8: 8rem;
$scale-xl-7: 6rem;
$scale-xl-6: 5rem;
$scale-xl-5: 4rem;
$scale-xl-4: 3.5rem;
$scale-xl-3: 3rem;
$scale-xl-2: 2.5rem;
$scale-xl: 2rem;
$scale-lg: 1.5rem;
$scale-md: 1.25rem;
$scale-root: 1rem;
$scale-sm: 0.75rem;
$scale-xs: 0.5rem;
$scale-xs-2: 0.25rem;
$scale-xs-3: 0.125rem;
$scale-xs-4: 0.063rem;

$corner-radius-1: $scale-xs-2;
$corner-radius-2: $scale-xs;
$corner-radius-3: $scale-sm;
$corner-radius-4: $scale-root;
$corner-radius-5: $scale-md;
$corner-radius-6: $scale-lg;
$corner-radius-7: $scale-xl;
$corner-radius-full: 100svw;